/* Devices with width 576px and down */

/* Basic styles */

@font-face {
  font-family: Lato-Regular;
  src: url('assets/fonts/Lato-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-primary-color: #1976d2;
  --light-primary-color: #bbdefb;
  --primary-color: #2196f3;
  --white: #ffffff;
  --accent-color: #ff4081;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
}

* {
  box-sizing: border-box;
  transition: 0.5s;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Lato-Regular, sans-serif;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

noscript {
  background-color: #ff0;
}

#main-container {
  width: 96%;
  margin: auto;
}

/* Back to top button */

i#back-to-top {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  border: none;
  outline: none;
  background-color: var(--secondary-text);
  cursor: pointer;
  padding: 10px 15px;
}

i#back-to-top svg {
  fill: var(--white);
  width: 12px;
  animation: to-up 1s linear infinite;
}

@keyframes to-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25%);
  }
}

/* Tooltips */

.tooltip-text {
  display: none;
}

#featured-products .tooltip {
  flex-grow: 1;
  text-align: center;
}

#featured-products .tooltip a {
  display: inline-block;
  padding: 13px;
}

#featured-products .tooltip a i {
  display: flex;
}

#featured-products .tooltip a i svg {
  fill: var(--secondary-text);
  width: 17px;
  transition: 0s;
}

#featured-products .tooltip:last-of-type a i svg {
  width: 19px;
}

#featured-products .tooltip a:hover i svg {
  fill: var(--primary-text);
}

/* Top navigation bar */

#top-nav {
  border-bottom: 1px solid #dfdfdf;
  padding: 16px 10px;
}

#top-nav address {
  margin: 0 20px;
  text-align: center;
}

#top-nav address a {
  color: var(--primary-text);
  transition: 0s;
}

#top-nav address a:hover {
  font-weight: bold;
}

#top-nav menu,
#bottom-nav menu {
  display: none;
}

/* Main header */

#main-header {
  padding: 24px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #dfdfdf;
}

#website-logo {
  display: none;
}

#page-title {
  text-align: center;
}

#page-title h1,
#page-title h2 {
  margin: 0;
}

#page-title h1 {
  color: var(--accent-color);
  margin-bottom: 5px;
  font-size: 22px;
}

#page-title h2 {
  color: var(--secondary-text);
  font-size: 18px;
  font-weight: normal;
}

#main-header nav {
  margin-top: 16px;
}

#main-header nav ul {
  display: flex;
  width: 280px;
  margin: auto;
}

#main-header nav ul li {
  background-color: var(--dark-primary-color);
  flex-basis: 25%;
}

#main-header nav ul li:nth-child(even) {
  background-color: var(--primary-text);
}

#main-header nav ul li a {
  display: inline-flex;
  padding: 15px 0;
  width: 100%;
  justify-content: center;
}

#main-header nav ul li a i {
  display: inline-flex;
}

#main-header nav ul li a i svg {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

#main-header nav ul li a i.fas-user-plus svg {
  width: 28px;
}

#main-header nav ul li a span {
  display: none;
}

/* Main navigation bar  */

#main-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: var(--dark-primary-color);
  overflow-x: hidden;
  padding-top: 30px;
  border-right: 1px solid var(--divider-color);
}

#open-main-nav-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--secondary-text);
  z-index: 3;
  padding: 4px 6px;
}

#open-main-nav-btn i {
  display: flex;
}

#open-main-nav-btn i svg {
  width: 16px;
  fill: var(--white);
  animation: bounce 1s infinite linear;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#main-nav menu li a {
  display: block;
  padding: 19px 18px;
  color: var(--white);
}

#main-nav menu li:hover a,
#main-nav menu li:focus-within a {
  background-color: var(--white);
  color: var(--primary-text);
}

#main-nav menu li menu {
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: 1.5s max-height;
}

#main-nav menu li:hover menu,
#main-nav menu li:focus-within menu {
  max-height: 100vh;
}

#main-nav menu li menu li {
  display: grid;
  grid-template-columns: 92px 130px;
  grid-column-gap: 16px;
  padding: 0 16px 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #dfdfdf;
}

#main-nav menu li menu li:first-child {
  padding-top: 27px;
  border-top: 1px solid #dfdfdf;
}

#main-nav menu li menu li:last-child {
  display: block;
  margin-bottom: 0;
  padding-bottom: 11px;
  border: none;
}

#main-nav menu li menu li img {
  grid-row: span 3;
  border: 1px solid #dfdfdf;
}

#main-nav menu li menu li a {
  padding: 0;
  height: 20px;
  overflow: hidden;
  background-color: var(--white) !important;
  color: var(--primary-text) !important;
}

#main-nav menu li menu li span {
  color: var(--dark-primary-color);
  background-color: var(--white);
  font-size: 14px;
  height: 38px;
  overflow: hidden;
  line-height: 1.3;
}

#main-nav menu li menu li a:last-child {
  background-color: var(--dark-primary-color) !important;
  color: var(--white) !important;
  font-size: 12px;
  text-align: center;
  width: 75%;
  padding: 3px 0 0px;
  height: 22px;
}

#main-nav menu li menu li:last-child a {
  background-color: var(--white) !important;
  color: var(--primary-text) !important;
  font-size: unset;
  text-align: left;
  width: 100%;
  padding: 0;
}

/* Section a */

#section-a > div,
#section-b > div {
  margin-bottom: 28px;
  outline: 1px solid #dfdfdf;
}

#section-a div a img,
#section-b div a img:nth-child(2) {
  margin-bottom: -4px;
  min-height: 150px;
}

#section-a div a .overlay,
#section-b div a .overlay,
#div-b-1 .overlay,
#new-products ul li a .overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

#section-a div:hover a .overlay,
#section-b div:hover a .overlay,
#div-b-1:hover .overlay,
#new-products ul li:hover a .overlay {
  opacity: 1;
}

#div-a-1 {
  background-color: var(--light-primary-color);
  position: relative;
  text-transform: uppercase;
}

#div-a-1 a .text-box,
#div-a-2 a .text-box,
#div-a-3 a h2 {
  width: 100%;
  position: absolute;
  bottom: 5px;
}

#div-a-1 a .text-box .title {
  background-color: rgba(33, 33, 33, 0.8);
}

#div-a-1 a .text-box .title h2,
#div-a-2 a .text-box .title h2,
#div-a-3 a h2,
#div-b-2 a .title h2 {
  font-size: 26px;
  margin: 0;
  color: var(--white);
  padding: 5px;
  text-align: center;
}

#div-a-1 a .text-box .title p,
#div-a-1 a .text-box .subtitle,
#div-a-2 a .text-box .title p {
  display: none;
}

#div-a-2 {
  background-color: var(--light-primary-color);
  position: relative;
  text-transform: uppercase;
}

#div-a-2 a .text-box .title {
  background-color: rgba(33, 33, 33, 0.8);
}

#div-a-3 {
  background-color: var(--light-primary-color);
  position: relative;
  text-transform: uppercase;
}

#div-a-3 a h2 {
  background-color: rgba(33, 33, 33, 0.8);
}

/* section b */

#div-b-1 {
  background: var(--light-primary-color) url('assets/images/search-1.jpg');
  background-position: center;
  display: flex;
  justify-content: center;
  height: 90px;
  position: relative;
}

#div-b-1:focus-within {
  z-index: 4;
}

#div-b-1 form {
  display: flex;
  align-items: center;
  flex-basis: 85%;
  z-index: 2;
}

#div-b-1 form input[type='search'] {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  color: var(--primary-text);
}

#div-b-1 form input[type='search']::placeholder {
  color: var(--secondary-text);
  opacity: 1;
}

#div-b-1 form button {
  border: none;
  background-color: unset;
  cursor: pointer;
  margin-left: 8px;
}

#div-b-1 form button i {
  display: flex;
}

#div-b-1 form button i svg {
  fill: var(--white);
  transform: rotateY(180deg);
  width: 36px;
}

#div-b-2 {
  background-color: var(--light-primary-color);
  position: relative;
  text-transform: uppercase;
}

#div-b-2 a .title {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

#div-b-2 a .title h2 {
  background-color: rgba(33, 33, 33, 0.8);
}

#div-b-3 {
  position: relative;
  background-color: var(--light-primary-color);
}

#div-b-3 .box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 75%;
  text-align: center;
}

#div-b-3 a .box img {
  position: absolute;
  right: 0;
  top: 25px;
  width: 54px;
  z-index: 2;
}

#div-b-3 a .box h2 {
  font-size: 29px;
  height: 100%;
  width: 47px;
  padding: 13px 7px 88px;
  writing-mode: vertical-rl;
  color: var(--white);
  background-color: rgba(33, 33, 33, 0.8);
  margin: 0;
  transform: rotate(180deg);
  position: relative;
  right: -11px;
}

/* New products */

#new-products header,
#featured-products header,
#about header {
  border-bottom: 1px solid var(--divider-color);
  align-items: flex-end;
  margin: 48px 0 40px;
}

#new-products header h2,
#featured-products header h2,
#about header h2 {
  font-size: 21px;
  margin: 0 0 -1px 0px;
  color: var(--dark-primary-color);
  border-bottom: 1px solid var(--accent-color);
  padding: 0 5px 13px 5px;
}

#new-products header div a i,
#featured-products header div a i {
  display: inline-flex;
  padding: 10px;
  background-color: var(--dark-primary-color);
  cursor: pointer;
}

#new-products header div a i svg,
#featured-products header div a i svg {
  fill: var(--white);
  width: 12px;
}

#new-products header div a i:hover,
#featured-products header div a i:hover {
  background-color: var(--accent-color);
}

#new-products ul li {
  position: relative;
  background-color: var(--light-primary-color);
  border: 1px solid var(--divider-color);
}

#new-products ul li .buttons {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

#new-products ul li .buttons span:first-child a {
  color: var(--white);
}

#new-products ul li .buttons > span {
  padding: 13.5px 10px;
}

#new-products .buttons span:last-child,
#new-products .tooltip {
  display: none;
}

/* Featured products */

#featured-products ul li {
  margin-bottom: 0;
}

#featured-products ul li:hover img {
  opacity: 0.75;
}

#featured-products ul li .p-image {
  border: 1px solid var(--divider-color);
  position: relative;
  overflow: hidden;
  background-color: var(--light-primary-color);
}

#featured-products ul li .p-image a img {
  min-height: 150px;
  margin-bottom: -4px;
}

#featured-products ul li .p-image .off,
#featured-products ul li .p-image .new {
  position: absolute;
  left: 0;
  top: 12px;
  background-color: var(--primary-text);
  padding: 12px 8px;
  color: var(--white);
  min-width: 80px;
  text-align: center;
  font-size: 14px;
}

#featured-products ul li .title {
  border-right: 1px solid var(--divider-color);
  border-left: 1px solid var(--divider-color);
  padding: 11px 13px;
}

#featured-products ul li .title a {
  color: var(--primary-text);
}

#featured-products ul li .title a h3 {
  font-size: 18px;
  margin: 0 0 7px;
  line-height: 1.3;
}

#featured-products ul li .title h4 {
  font-size: 13px;
  color: var(--secondary-text);
  margin: 0;
  line-height: 1.4;
}

#featured-products ul li .buttons {
  display: flex;
  align-items: center;
  border: 1px solid var(--divider-color);
}

#featured-products ul li .buttons > *:not(span) {
  border-right: 1px solid var(--divider-color);
}

#featured-products ul li .buttons > span {
  padding: 11px 5px;
  font-size: 20px;
  background-color: var(--dark-primary-color);
  text-align: center;
  color: var(--white);
  flex-grow: 2;
}

#featured-products ul li .buttons span sup {
  font-size: 14px;
}

/* About section */

#about p {
  color: var(--primary-text);
  width: 95%;
  margin: auto;
  line-height: 26px;
}

/* Steps section */

#steps {
  width: 100%;
  margin: 48px auto;
}

#steps a div img {
  margin-right: 20px;
}

#steps a div h2 {
  font-size: 28px;
}

#steps a .choose,
#steps a .register-login,
#steps a .checkout {
  background-color: var(--primary-text);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-bottom: 24px;
}

#steps a .register-login {
  background-color: var(--primary-color);
}

#steps a .checkout {
  background-color: var(--accent-color);
}

#steps a .register-now {
  background-color: var(--primary-color);
  padding: 15px;
  color: var(--white);
  text-align: center;
}

/* Main footer */

#main-footer {
  padding: 0 15px;
  border-top: 1px solid var(--divider-color);
}

#main-footer .widget h2 {
  color: var(--primary-text);
  font-size: 25px;
  text-transform: uppercase;
  margin: 48px 0 40px;
}

#main-footer .widget nav ul li {
  padding-bottom: 14px;
}

#main-footer .widget nav ul li a {
  color: #424242;
  transition: 0s;
}

#main-footer .widget nav ul li a:hover {
  color: var(--primary-text);
  font-weight: bold;
}

#main-footer .widget .newsletter {
  position: relative;
}

#main-footer .widget .newsletter:focus-within {
  z-index: 4;
}

#main-footer .widget .newsletter form input[type='email'] {
  color: var(--primary-text);
  padding: 30px 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  border: 1px solid #dfdfdf;
  text-transform: uppercase;
  outline: none;
}

#main-footer .widget .newsletter form input[type='email']::placeholder {
  color: var(--secondary-text);
}

#main-footer .widget .newsletter form input[type='submit'] {
  color: var(--white);
  padding: 20px 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  background-color: var(--dark-primary-color);
  text-transform: uppercase;
  cursor: pointer;
}

#main-footer .widget .newsletter form input[type='submit']:hover {
  background-color: var(--accent-color);
}

#main-footer .widget .socials ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

#main-footer .widget .socials ul li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  width: 55px;
  height: 55px;
}

#main-footer .widget .socials ul li a i:hover {
  opacity: 0.7;
}

#main-footer .widget .socials ul li a i.fab-linkedin-in {
  background-color: #0a66c2;
}

#main-footer .widget .socials ul li a i.fab-facebook-f {
  background-color: #1877f2;
}

#main-footer .widget .socials ul li a i.fab-twitter {
  background-color: #1da1f2;
}

#main-footer .widget .socials ul li a i.fab-pinterest {
  background-color: #bd081c;
}

#main-footer .widget .socials ul li a i.fab-instagram {
  background: #c32aa3;
}

#main-footer .widget .socials ul li a i svg {
  fill: var(--white);
  width: 28px;
}

#main-footer .widget .socials ul li a i.fab-facebook-f svg {
  width: auto;
  height: 28px;
}

/* Bottom footer */

#bottom-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
  margin: 24px 0 44px;
  padding: 8px;
}

#copyright {
  font-size: 14px;
  color: var(--primary-text);
  margin: 8px;
}

/* Devices with width 576px and up */

@media only screen and (min-width: 576px) {
  /* Tooltips */

  #new-products .tooltip a {
    background-color: var(--dark-primary-color);
    display: inline-block;
    padding: 13px;
  }

  #new-products .tooltip:nth-child(3) a {
    background-color: var(--accent-color);
    padding: 14.5px 13px;
  }

  #new-products .tooltip a i {
    display: flex;
  }

  #new-products .tooltip a i svg {
    fill: var(--white);
    width: 24px;
  }

  /* Top navigation bar */

  #top-nav menu,
  #bottom-nav menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #top-nav menu li,
  #bottom-nav menu li {
    display: inline-block;
  }

  #top-nav menu li a,
  #bottom-nav menu li a {
    display: inline-block;
    margin: 8px;
    color: var(--primary-text);
    transition: 0s;
  }

  #top-nav menu li a.active,
  #bottom-nav menu li a.active {
    font-weight: bold;
    color: var(--dark-primary-color);
  }

  #top-nav menu li a:hover,
  #bottom-nav menu li a:hover {
    font-weight: bold;
  }

  /* Main header */

  #main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #main-header > div {
    display: flex;
    align-items: center;
  }

  #page-title {
    text-align: unset;
    margin-left: 10px;
  }

  #website-logo {
    display: unset;
  }

  #main-header nav {
    margin-top: 0;
  }

  #main-header nav ul {
    width: unset;
  }

  #main-header nav ul li a {
    padding: 15px;
  }

  /* Section a */

  #div-a-1 a .text-box .title h2,
  #div-a-2 a .text-box .title h2,
  #div-a-3 a h2,
  #div-b-2 a .title h2 {
    font-size: 36px;
  }

  /* Section b */

  #div-b-1 {
    height: 130px;
  }

  #div-b-3 .box {
    width: 68px;
  }

  #div-b-3 a .box img {
    width: 64px;
  }

  #div-b-3 a .box h2 {
    font-size: 40px;
    width: 57px;
    padding: 16px 7px 98px;
  }

  /* New products */

  #new-products header h2,
  #featured-products header h2,
  #about header h2 {
    font-size: 29px;
  }

  #new-products header div a,
  #featured-products header div a {
    margin-left: 5px;
  }

  #new-products header div a i,
  #featured-products header div a i {
    padding: 18px 26px;
  }

  #new-products header div a i svg,
  #featured-products header div a i svg {
    width: 14px;
  }

  #new-products ul li .buttons span {
    color: var(--white);
    text-align: center;
  }

  #new-products .buttons span:last-child,
  #new-products .tooltip {
    display: unset;
  }

  #new-products ul li .buttons span:last-child {
    font-size: 20px;
    background-color: #323232;
    min-width: 102px;
  }

  #new-products ul li .buttons span sup {
    font-size: 14px;
  }

  /* Main footer */

  #main-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  #main-footer .widget {
    flex-basis: 50%;
  }

  #main-footer .widget:last-child {
    flex-basis: 100%;
  }

  #main-footer .widget h2 {
    font-size: 22px;
  }

  /* Bottom footer */

  #bottom-footer {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
  }

  #bottom-nav menu li a {
    font-size: 14px;
  }
}

/* Devices with width 768px and up */

@media only screen and (min-width: 768px) {
  /* Main header */

  #main-header nav ul li {
    margin-left: 10px;
  }

  /* Section a */

  #section-a {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 295px 220px;
  }

  #section-a > div,
  #section-b > div {
    margin-bottom: 0;
    overflow: hidden;
  }

  #div-a-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #div-a-1 a .text-box .title h2,
  #div-a-2 a .text-box .title h2,
  #div-a-3 a h2,
  #div-b-2 a .title h2 {
    font-size: 30px;
  }

  /* section b */

  #section-b {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 130px 350px;
  }

  #div-b-3 {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  /* New Products */

  #new-products header h2,
  #featured-products header h2,
  #about header h2 {
    font-size: 26px;
  }

  #new-products header div a i,
  #featured-products header div a i {
    padding: 16px 24px;
  }

  #new-products header div a i svg,
  #featured-products header div a i svg {
    width: 13px;
  }

  #new-products .buttons span:last-child,
  #new-products .tooltip {
    display: none;
  }

  /* Main footer */

  #main-footer .widget {
    flex-grow: 1;
    flex-basis: unset;
  }

  #main-footer .widget:last-child {
    flex-grow: 2;
    flex-basis: unset;
  }
}

/* Devices with width 992px and up */

@media only screen and (min-width: 992px) {
  /* Tooltips */

  .tooltip {
    position: relative;
  }

  .tooltip-text {
    width: 120px;
    margin-left: -60px;
    background-color: #efefef;
    position: absolute;
    z-index: 1;
    top: -64%;
    left: 50%;
    padding: 7px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    color: var(--primary-text);
    font-style: normal;
  }

  .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px;
    border-color: #efefef transparent transparent transparent;
  }

  .tooltip-text::before {
    content: '';
    position: absolute;
    top: 104%;
    left: 50%;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px;
    border-color: #f0626e transparent transparent transparent;
  }

  #top-nav .tooltip-text::after {
    top: unset;
    bottom: 100%;
    border-color: transparent transparent #efefef transparent;
  }

  #top-nav .tooltip-text::before {
    top: unset;
    bottom: 104%;
    border-color: transparent transparent #f0626e transparent;
  }

  #top-nav .tooltip-text {
    top: unset;
    bottom: -41px;
  }

  /* Top navigation bar */

  #top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }

  #top-nav address {
    margin: 0;
  }

  #top-nav menu li a {
    margin: 0 0 0 20px;
  }

  /* Main header  */

  #main-header {
    margin-bottom: unset;
    border-bottom: unset;
  }

  #main-header nav ul li a {
    align-items: center;
    color: var(--white);
  }

  #main-header nav ul li a span {
    display: unset;
    font-size: 16px;
    font-family: Lato-Regular, sans-serif;
    font-weight: normal;
    margin-left: 5px;
    vertical-align: middle;
  }

  /* Main navigation bar  */

  #open-main-nav-btn {
    display: none;
  }

  #main-nav {
    margin: 0 0 24px;
    padding: 0 24px;
    position: static;
    width: unset !important;
    overflow-x: unset;
    border-right: none;
  }

  #main-nav menu {
    text-align: center;
    position: relative;
  }

  #main-nav menu li {
    display: inline-block;
    text-align: left;
  }

  #main-nav menu li menu {
    position: absolute;
    top: 56px;
    z-index: 3;
  }

  /* New Products */

  #new-products header h2,
  #featured-products header h2,
  #about header h2 {
    font-size: 28px;
    margin-left: 14px;
  }

  #new-products header div a i,
  #featured-products header div a i {
    padding: 18px 26px;
  }

  #new-products header div a i svg,
  #featured-products header div a i svg {
    width: 14px;
  }

  /* Steps section */

  #steps {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
  }

  #steps a {
    grid-column: span 2;
  }

  #steps a:last-child {
    grid-column: 2/6;
  }

  #steps a .choose,
  #steps a .register-login,
  #steps a .checkout {
    margin-bottom: unset;
  }

  #steps a .register-now {
    padding: 1px;
  }

  /* Main footer */

  #main-footer {
    padding: 0;
  }

  #main-footer .widget h2 {
    font-size: 19px;
  }

  #main-footer .widget .socials h2 {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

/* Devices with width 1200px and up */

@media only screen and (min-width: 1200px) {
  /* Basic styles */

  #main-container {
    width: 1170px;
  }

  /* Section a */

  #section-a {
    grid-template-columns: 670px 495px;
    grid-template-rows: 320px 245px;
    grid-gap: 5px;
    margin-top: 5px;
  }

  #div-a-1 a .text-box {
    left: 0;
    max-width: 65%;
  }

  #div-a-1 a .text-box .title,
  #div-a-2 a .text-box .title,
  #div-a-3 a h2,
  #div-b-2 a .title h2 {
    padding: 10px;
  }

  #div-a-1 a .text-box .title {
    margin-bottom: 2px;
  }

  #div-a-1 a .text-box .title h2 {
    margin-bottom: 5px;
    font-size: 40px;
  }

  #div-a-1 a .text-box .title p,
  #div-a-1 a .text-box .subtitle,
  #div-a-2 a .text-box .title p {
    display: block;
  }

  #div-a-1 a .text-box .title p {
    margin: 0;
    font-size: 13px;
    color: var(--light-primary-color);
    height: 40px;
    overflow: hidden;
    line-height: 1.6;
  }

  #div-a-1 a .text-box .subtitle {
    background-color: rgba(255, 64, 129, 0.9);
    padding: 7px;
    color: var(--white);
    text-align: center;
  }

  #div-a-2 a .text-box {
    left: 0;
    max-width: 65%;
  }

  #div-a-2 a .text-box .title h2 {
    margin-bottom: 5px;
  }

  #div-a-2 a .text-box .title p {
    margin: 0;
    font-size: 12px;
    color: var(--light-primary-color);
    height: 33px;
    overflow: hidden;
    line-height: 1.4;
  }

  #div-a-3 a h2 {
    right: 0;
    width: unset;
  }

  /* section b */

  #section-b {
    grid-template-columns: 670px 495px;
    grid-template-rows: 170px 335px;
    grid-gap: 5px;
  }

  #div-b-1 {
    height: unset;
  }

  #div-b-1 form {
    flex-basis: unset;
  }

  #div-b-1 form input[type='search'] {
    width: 485px;
    height: 70px;
    padding: 23px;
    font-size: 16px;
  }

  #div-b-1 form button {
    margin-left: 16px;
  }

  #div-b-1 form button i svg {
    width: 52px;
  }

  #div-b-2 {
    grid-row: 2/3;
  }

  #div-b-2 a .title {
    left: 0;
    width: unset;
  }

  #div-b-3 .box {
    width: 98px;
  }

  #div-b-3 a .box img {
    top: 18px;
    width: 97px;
  }

  #div-b-3 a .box h2 {
    font-size: 48px;
    width: 87px;
    padding: 25px 14px 141px;
  }

  /* New products */

  #new-products header h2,
  #featured-products header h2,
  #about header h2 {
    font-size: 30px;
  }

  #new-products header div a i,
  #featured-products header div a i {
    padding: 20px 28px;
  }

  #new-products header div a i svg,
  #featured-products header div a i svg {
    width: 15px;
  }

  /* Main footer */

  #main-footer .widget h2 {
    font-size: 25px;
  }
}

/* Hoverable devices with width 992px and up) */

@media only screen and (min-width: 992px) and (hover: hover) {
  /* Back to top button */

  i#back-to-top:hover {
    background-color: var(--accent-color);
  }

  /* Main header */

  #main-header nav ul li:hover {
    box-shadow: 0 0 1px 1px var(--primary-text);
  }

  /* New products */

  #new-products ul li .buttons {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #new-products ul li:hover .buttons,
  #new-products ul li:focus-within .buttons {
    opacity: 1;
  }

  .tooltip:hover .tooltip-text {
    display: unset;
  }

  #new-products .buttons span:last-child,
  #new-products .tooltip {
    display: unset;
  }

  /* Steps section */

  #steps a:hover {
    box-shadow: 0 0 1px 1px var(--primary-text);
  }
}

/* These styles are just for Firefox browser */
@-moz-document url-prefix() {
  /* Main navigation bar  */

  #main-nav menu li menu {
    top: 57px;
  }
}
