.slider-container {
  margin: auto;
  overflow: hidden;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  transition: 1s;
}

.slider-item {
  margin: 0 16px -4px 0;
  min-height: 150px;
}

.slider-item img {
  width: 100%;
}

.slider-arrows {
  display: flex;
  justify-content: space-between;
}

.slider-arrow-prev,
.slider-arrow-next {
  border: none;
  background-color: #ffffff;
  color: #212121;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.slider-arrow-prev:hover,
.slider-arrow-next:hover {
  background-color: #eeeeee;
}
